* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #2d3748;
  background-color: #f7fafc;
}

.app {
  min-height: 100vh;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 2px solid #4299e1;
  outline-offset: 2px;
}